# AIDeX WhatsApp Server Configuration
CLIENT_PHONE_E164='PHONE-NUMBER'

# Branding Configuration
BRAND_NAME=BRAND_NAME
BRAND_TAGLINE=WhatsApp AI Assistant

# Next.js Application URL
AGENT_URL=http://localhost:3800/webhook/whatsapp

AGENT_API_KEY='API-KEY'


# AI Service Configuration
AI_SERVICE_URL=http://localhost:4000
SERVER_URL=http://localhost:3700
SERVER_ID=server-main-1

# MongoDB Connection for Session Storage (REQUIRED for Vercel)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/whatsapp-sessions?retryWrites=true&w=majority


# Server Configuration
PORT=5000


PUPPETEER_EXECUTABLE_PATH=/usr/bin/brave
CHROME_EXECUTABLE_PATH=/usr/bin/brave
